body {
  background-color: #f8f9fa;
}

.navbar-brand {
  font-size: 1.1rem;
}

.text-truncate-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card {
  border: none;
}
